#estimateContentContainer{
    margin: auto;
    margin-top: 20px;
    padding: 10px 20px 20px 20px;
    width: fit-content;
    background-color: #eef1f8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#estimateTableTopPanel {
    height: 60px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
}

#estimateTableTitle {
    position: absolute;
    top: 0;
    margin: 0;
}

#filterAndSortContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.filterAndSortText {
    margin: 0 5px 0 0;
    font-weight: bold;
}

.filterAndSortSelects {
    margin: 0 10px 0 0;
    padding: 5px;
    border-radius: 15px;
}

#createBtn {
    width: 125px;
    height: 60px;
    font-size: large;
    font-weight: bold;
    margin-right: 0;
    background: lightgreen;
    border-width: 1px;
}

#createBtn:hover {
    cursor: pointer;
    font-size: 20px;
}

#estimateTableContainer {
    position: relative;
    max-height: calc(100vh - 210px);
    margin: auto;
    overflow-y: auto;
    border: 1px solid grey;
    cursor: default;
}

#estimateTable {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid grey;
    background-color: white;
}

th {
    position: sticky;
    padding: 10px;
    top: 0;
    z-index: 10;
    box-shadow: inset 0 -2px 0 black;
    
}

td {
    padding: 10px;
}

.colorCell {
    padding: 5px 10px;
    border-radius: 15px;
}

.noteToggle:hover {
    cursor: pointer;
    font-size: larger;
}

.editCell:hover {
    cursor: pointer;
    font-size: larger;
}

.notesRowHidden {
    display: none;
}

.notesRowShown {
    display: table-row;
}

.notesRowContent {
    text-align: left;
    padding: 0;
}

.notesRowContainer {
    height: 0;
    overflow-y: hidden;
}

.notesRowTitle {
    margin: 0 0 5px 0;
}

.notesRowText {
    height: 100px;
    width: calc(50% - 10px);
    resize: none;
    cursor: default;
    border: 1px solid black;
}

.notesRowText:focus {
    outline: none;
    border: 1px solid black;
}

#changePageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.rightLeftBtns {
    padding: 0;
    margin: 0;
    border: none;
    background-color: white;
    font-size: large;
    cursor: pointer;
}

#pageNumberText {
    padding: 0;
}

@keyframes expand {
    0% {
        height: 0;
    }
    100% {
        height: 150px;
    }
}

@keyframes close {
    0% {
        height: 150px;
    }
    100% {
        height: 0;
    }
}
